/*#gameContainer {
    background: linear-gradient(#113388, #114488, #247899, #594488, #773388, #993388,#652244, #673346);
}
#input-form{
    padding: 10px; 
    font-size: 20px; 
    background-color: #993388;
}
#input-form input {
    padding: 10px; 
    font-size: 20px; 
    width: 400px;
}*/